* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-direction: row;
    display: flex;
    flex: 1 1 auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 20px;
    background-color: #181818;
    align-content: center;
    flex-wrap: wrap;
}

.top-right {
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 50px;
}

.top-right ul {
    list-style-type: none;
}

.top-left {
    color: white;
    text-align: left;
}

.top-left ul {
    list-style-type: none;
    padding-top: 20px;
}

.align-ul {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 15px;
}

.align-ul span {
    margin-left: 16px;
}

a {
    color: white;
    text-decoration: none;
}

.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

.toggle a {
  font-size: 20px;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

/* Fine menu mobile*/

/* Tablet menu */
@media all and (min-width: 768px) {
  .menu {
    justify-content: center;
  }

  .toggle {
    flex: 1;
    text-align: left;
    order: 2;
  }
}
/* fine menù table */

/* Desktop menu */
@media all and (min-width: 992px) {
  .item {
    display: block;
    width: auto;
    order: 1;
  }

  .toggle {
    display: none;
  }

  .menu li {
    padding: 15px 25px;
  }

}
/* fine menù desktop*/

.main-bottom h1 {
    text-transform: uppercase;
}

.main-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1480px;
}

.main-bottom .blocco {
    width: 150px;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 15px;
}

.blocco img {
    max-width: 100%;
}

.main-content h2 {
    text-align: left;
    color: white;
}

.sidebar {
    flex: 0 1 260px;
    padding: 20px;
    background-color: #050505;
}

.sidebar img {
    object-fit: contain;
    object-position: center;
    width: 150px;
}

.fixed {
    position: fixed;
}

footer {
    background: #282828;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (min-width: 480px) {
    .main-bottom .blocco {
        width: 135px;
    }
    .main-bottom {
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .main-bottom .blocco {
        width: 150px;
    }
    .main-bottom {
        justify-content: space-between;
    }
}

@media (min-width: 992px) {
    .main-bottom .blocco {
        width: 200px;
    }
    .main-bottom {
        justify-content: space-between;
    }
    .sidebar {
        flex: 0 0 260px;
        padding: 20px;
        background-color: #050505;
    }
}
