* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    flex-direction: row;
    display: flex;
    flex: 1 1 auto;
}

.main-content {
    padding: 20px;
    background-color: #181818;
    align-content: center;
    flex-wrap: wrap;
    height: calc(100vh - 90px);
    overflow-y: scroll;
}

.top-right {
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 50px;
}

.top-right ul {
    list-style-type: none;
}

.top-left {
    color: white;
    text-align: left;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
}

.top-left-menu {
    flex-grow: 1;
}

.top-left ul {
    list-style-type: none;
    padding-top: 20px;
}

.top-left img {
    display: none;
}

.top-left-menu span, .bottom-left-menu span {
    display: none;
}

.align-ul {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 15px;
}

.align-ul span {
    margin-left: 16px;
}

.bottom-left-menu figure{
    background-image: url("https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=10203896941171729&height=200&width=200&ext=1575630380&hash=AeTnqSxMZwHY5nTN");
    width: 28px;
    height: 28px;
}

.avatar {
    border-radius: 50%;
    background-color:
    rgba(0,0,0,.15);
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.border {
    border-top: 1px solid #404040;
    padding-top: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

.toggle a {
  font-size: 20px;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

/* Fine menu mobile*/

/* Tablet menu */
@media all and (min-width: 768px) {
  .menu {
    justify-content: center;
  }

  .toggle {
    flex: 1;
    text-align: left;
    order: 2;
  }
}
/* fine menù table */

/* Desktop menu */
@media all and (min-width: 992px) {
  .item {
    display: block;
    width: auto;
    order: 1;
  }

  .toggle {
    display: none;
  }

  .menu li {
    padding: 15px 25px;
    font-size: 12px;
    font-weight: 700;
  }

  .menu li a:not(.attivo) {
      color: #b3b3b3;
  }

  .menu li a:hover {
      color: #fff;
  }

  .attivo {
      position: relative;
      padding: 5px;
      color: #fff;
  }

 .attivo::before {
        content: "";
        height: 2px;
        background-color: #1db954;
        width: 30px;
        position: absolute;
        display: block;
        left: 50%;
        bottom: 0;
        margin-left: -15px;
  }

  .attivo::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        -webkit-box-shadow: 0 0 0 20px transparent,inset 0 0 0 1px transparent;
        box-shadow: 0 0 0 20px
        transparent,inset 0 0 0 1px
        transparent;
        -webkit-transition: none;
        transition: none;
        border-radius: 500px;
  }

}
/* fine menù desktop*/

.main-bottom h1 {
    text-transform: uppercase;
}

.flex-box h2 {
    padding-left: 40px;
}

.main-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1480px;
}

.main-bottom .blocco {
    width: 150px;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 15px;
}

.blocco img {
    max-width: 100%;
}

.main-content h2 {
    text-align: left;
    color: white;
}

.sidebar {
    flex: 0 1 260px;
    background-color: #050505;
}

.sidebar img {
    object-fit: contain;
    object-position: center;
    width: 150px;
}

.fixed {
    position: fixed;
}

footer {
    background: #282828;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    padding: 0 16px;
}

.cover {
    background-image: url("https://i.scdn.co/image/d485908b0ed0de2877196e73a2b3a1c46447690f");
}

@media (min-width: 480px) {
    .main-bottom .blocco {
        width: 135px;
    }
    .main-bottom {
        justify-content: space-between;
    }

    .top-left {
        padding: 15px;
    }

    .flex-box h2 {
        padding-left: 16px;
    }

}

@media (min-width: 768px) {
    .main-bottom .blocco {
        width: 150px;
    }
    .main-bottom {
        justify-content: space-between;
    }

    .top-left {
        padding: 35px;
    }

}

@media (min-width: 992px) {
    .main-bottom .blocco {
        width: 200px;
    }
    .main-bottom {
        justify-content: space-between;
    }
    .sidebar {
        flex: 0 0 260px;
        background-color: #050505;
    }
    .top-left-menu span, .bottom-left-menu span {
        display: block;
    }

    .top-left .primo {
        display: none;
    }

    .top-left img {
        display: block;
    }
}
@media (min-width: 1781px) {
    .main-content {
        width: calc(100vw - 260px);
    }

    .flex-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flex-box h2 {
        align-self: flex-start;
        padding-left: 75px;
    }
}
